name: Build

on:
  workflow_dispatch:
    inputs:
      targets:
        description: 'Select build'
        default: 'all'
        type: choice
        options:
          - linux-x86_64
          - linux-aarch64
          - darwin-aarch64
          - windows-x86_64
          - all

jobs:
  define_matrix:
    name: Set build matrix
    runs-on: ubuntu-latest
    outputs:
      matrix_config: ${{ steps.set_matrix.outputs.matrix }}

    steps:
      - id: set_matrix
        name: Define and Filter Matrix
        env:
          TARGETS: ${{ github.event.inputs.targets }}
        run: |
          BUILDS='[
            {
              "name": "linux-x86_64",
              "os": "ubuntu-latest",
              "shell": "bash",
              "system": "Linux",
              "toolchain": "musl",
              "arch": "x86_64",
              "suffix": ""
            },
            {
              "name": "linux-aarch64",
              "os": "ubuntu-latest",
              "shell": "bash",
              "system": "Linux",
              "toolchain": "musl",
              "arch": "aarch64",
              "suffix": ""
            },
            {
              "name": "darwin-aarch64",
              "os": "macos-latest",
              "shell": "bash",
              "system": "Darwin",
              "toolchain": "clang",
              "arch": "aarch64",
              "suffix": ""
            },
            {
              "name": "windows-x86_64",
              "os": "windows-latest",
              "shell": "msys2 {0}",
              "system": "Windows",
              "toolchain": "msys2",
              "arch": "x86_64",
              "suffix": ".exe"
            }
          ]'

          FILTERED_BUILDS=$(echo "$BUILDS" | jq -c '[.[] | select(
              (env.TARGETS == "all") or (env.TARGETS == .name)
          )]')

          echo "matrix=$FILTERED_BUILDS" | tee -a $GITHUB_OUTPUT

  build:
    name: Build ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    needs: define_matrix
    defaults:
      run:
        shell: ${{ matrix.shell }}

    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.define_matrix.outputs.matrix_config) }}

    steps:
      - uses: msys2/setup-msys2@v2
        if: matrix.toolchain == 'msys2'
        with:
          msystem: MINGW64
          path-type: strict
          update: true
          install: >-
            mingw-w64-x86_64-toolchain
            git
            patch

      - run: git config --global core.autocrlf input
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Musl
        if: matrix.toolchain == 'musl'
        run: |
          MUSL_TARGET="${{ matrix.arch }}-unknown-linux-musl"
          URL="https://github.com/cross-tools/musl-cross/releases/latest/download/$MUSL_TARGET.tar.xz"

          wget -q $URL

          sudo mkdir -p /opt/musl-cross
          sudo tar -xf $MUSL_TARGET.tar.xz -C /opt/musl-cross

          TOOLCHAIN_ROOT="/opt/musl-cross/$MUSL_TARGET"

          echo "CC=$TOOLCHAIN_ROOT/bin/$MUSL_TARGET-gcc" >> $GITHUB_ENV

      - name: Setup Environment
        run: |
          GITHUB_WORKSPACE="${{ github.workspace }}"

          if [ "${{ matrix.system }}" = "Windows" ]; then
            GITHUB_WORKSPACE=$(cygpath -u "$GITHUB_WORKSPACE")
            gCC --version
          fi

          mkdir -p $GITHUB_WORKSPACE/deps
          echo "TARGET_DIR=$GITHUB_WORKSPACE/deps" >> $GITHUB_ENV

          if [ "${{ matrix.system }}" = "Darwin" ]; then
            echo "NPROC=$(sysctl -n hw.ncpu)" >> $GITHUB_ENV
          fi

      # ==========================================================
      # DEPENDENCIES
      # ==========================================================
      - name: Build zlib
        run: |
          ZLIB_VER=zlib-1.3.1
          wget -q https://www.zlib.net/$ZLIB_VER.tar.gz
          tar -xzf $ZLIB_VER.tar.gz
          cd $ZLIB_VER

          ./configure --prefix=$TARGET_DIR --static
          make -j$($NPROC) && make install

          echo "Checking for zlib..."
          ls -l $TARGET_DIR/lib/libz.a
          ls -l $TARGET_DIR/include/zlib.h

      - name: Build openssl
        run: |
          OPENSSL_VER=openssl-3.5.4
          wget -q https://www.openssl.org/source/$OPENSSL_VER.tar.gz
          tar -xzf $OPENSSL_VER.tar.gz
          cd $OPENSSL_VER

          if [ "${{ matrix.toolchain }}" = "musl" ]; then
             SSL_TARGET=${{ matrix.name }}
          fi

          ./Configure $SSL_TARGET no-shared --prefix=$TARGET_DIR --libdir=lib
          make -j$($NPROC) && make install_sw

          echo "Checking for openssl..."
          ls -l $TARGET_DIR/lib/libcrypto.a
          ls -l $TARGET_DIR/include/openssl/ssl.h

      # ==========================================================
      # PREPARE PROJECT
      # ==========================================================
      - name: Patch libssh
        run: |
          git -C libssh fetch --all --tags --prune
          patch -d libssh -p1 < patch/$(git -C libssh describe --tags).patch

      # ==========================================================
      # FINAL BUILD
      # ==========================================================
      - name: Final Build
        run: |
          mkdir build && cd build

          # if [ "${{ matrix.toolchain }}" = "musl" ]; then
          #   TOOLCHAIN_FILE=${{ matrix.toolchain }}.cmake
          #   cat <<EOF > $TOOLCHAIN_FILE
          #   set(CMAKE_SYSTEM_NAME ${{ matrix.system }})
          #   set(CMAKE_C_COMPILER "$CC")
          #   set(CMAKE_CXX_COMPILER "$CXX")
          #   set(CMAKE_FIND_ROOT_PATH "$TARGET_DIR")
          #   set(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
          #   set(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY ONLY)
          #   set(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE ONLY)
          #   set(BUILD_SHARED_LIBS OFF)
          #   set(CMAKE_EXE_LINKER_FLAGS "-static")
          #   EOF
          # fi

          cmake .. \
            -DCMAKE_FIND_ROOT_PATH=$TARGET_DIR \
            -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER \
            -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY \
            -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY \
            -DBUILD_SHARED_LIBS=OFF \
            -DCMAKE_PREFIX_PATH=$TARGET_DIR \
            -DOPENSSL_USE_STATIC_LIBS=TRUE \
            -DZLIB_LIBRARY=$TARGET_DIR/lib/libz.a \
            -DZLIB_INCLUDE_DIR=$TARGET_DIR/include \
            -DOPENSSL_ROOT_DIR=$TARGET_DIR \
            -DOPENSSL_CRYPTO_LIBRARY=$TARGET_DIR/lib/libcrypto.a \
            -DOPENSSL_INCLUDE_DIR=$TARGET_DIR/include

          make -j$($NPROC)

          echo "Checking for mscp..."
          MSCP=$TARGET_DIR/build/mscp${{ matrix.suffix }}
          ls -l $MSCP
          $MSCP -v
          if [ "${{ matrix.system }}" = "Darwin" ]; then
            otool -L $MSCP
            echo "$(otool -L $MSCP | awk '/^\s+\/.*\.dylib/{printf ",%s", $1}')" > $MSCP_DYN
          else
            ldd $MSCP
            echo ",$(ldd $MSCP | awk '{print $3}' | grep 'msys-.*\.dll' | paste -sd,)" > $MSCP_DYN
          fi

      # ==========================================================
      # ARTIFACTS
      # ==========================================================
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mscp-${{ matrix.name }}
          path: $MSCP$MSCP_DYN
