name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd        
    steps:
      - uses: msys2/setup-msys2@v2

      - name: Test
        run: |
          dir C:\msys64\usr\include
          where msys2
          msys2 -c 'uname -a'




