name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: C:\shells\msys2bash "{0}"
    steps:
      - run: |
          uname -a



