name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    # defaults:
    #   run:
    #     shell: cmd        
    steps:
      - run: |
          $env:Path
          dir c:\shells









