name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: wslbash        
    steps:
      - run: |
          uname -a










