name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd        
    steps:
      - name: Test
        run: |
          dir C:\msys64\
          C:\msys64\usr\bin\bash.exe -c 'uname -a'





