name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd        
    steps:
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: msys64
          path: C:\msys64\






