name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: C:\msys64\usr\bin\bash.exe {0}
    steps:
      - run: |
          uname -a

